@page "/"
@using DigitalAV
@using DigitalAV.Data
@using AVSDK
@using AVText
@using Microsoft.Extensions.Logging

@inject NavigationManager UriHelper

<EditForm Model="@search" OnValidSubmit="@UpdateSearch">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <center style="width: 96%;">
        <InputText style="width: 80%;" id="name" @bind-Value="search" />

        <button type="submit">Find</button>
    </center>
    <br />    <br />
    <center style="width: 98%;">
        <div style="margin:0px;padding:0px;overflow:hidden">
            <iframe src='/found?@search' frameborder="0" style="height: 80vh; overflow-x: hidden; overflow-y: auto; width: 100%; text-align: justify; ">
                ERROR: Could execute search
            </iframe>
        </div>
    </center>
</EditForm>

@code
{
    private string search = "";

    void UpdateSearch()
    {
        Startup.logger.LogDebug("Starting search request: " + UriHelper.Uri, null);

        var parts = UriHelper.Uri.Split('#')[0].Split('?');
        if (parts.Length >= 2)
        {
            search = parts[parts.Length - 1];
            Startup.logger.LogDebug("Completed search request: " + UriHelper.Uri, null);
        }
        else
        {
            Startup.logger.LogDebug("Completed search request (nothing to search): " + UriHelper.Uri, null);
        }
    }
}
