@inherits LayoutComponentBase
@using DigitalAV.Data

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            Digital-AV
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
